
<nav class="nav">
  <div>
      <ol class="div-header--container">
          <li> 
              <a class="menu-items-1" [routerLink]="['/BodyComponent']">Home</a>
              <a class="menu-items-2" href="https://drive.google.com/file/d/1lwSi0va3v60jtUpok_uxzqOxBPwgDN16/view">Resume</a>
            

          </li>
          <li> 
          </li>
      </ol>
  </div>
</nav> 




<!--PROYECTOS-->
<div class="post-list">
    <a href="https://batabit-cryptocurrency.vercel.app/" class="post">
        <p class="post-likes">Batabit Store</p>
  
      <figure class="post-image">  
        <img src="https://images.unsplash.com/photo-1516245834210-c4c142787335?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169" alt="Batatabit-Store">
      </figure>
      <span class="post-overlay">
        <p>
        <a href="https://batabit-cryptocurrency.vercel.app/" class="post-comments">To visit</a>
        </p>
      </span>
    </a>
  
  
  
    <a href="https://my-weather-app-sandy.vercel.app/" class="post">
        <p class="post-likes">My Weather</p>      
  
      <figure class="post-image">
        <img src="https://images.unsplash.com/photo-1458019035333-261ae4ea527f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870" alt="Tecnopolis-Store">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://my-weather-app-sandy.vercel.app/" class="post-comments">To visit</a>
          </p>
          </span>
    </a>
  
    <a href="https://my-budget-manager-app.vercel.app/ingresarPresupuesto" class="post">
        <p class="post-likes">Budget Manager</p>      
  
      <figure class="post-image">      
        <img src="https://images.unsplash.com/photo-1427751840561-9852520f8ce8?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176" alt="social-network">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://my-budget-manager-app.vercel.app/ingresarPresupuesto" class="post-comments">To visit</a>
        </p>
        </span>
    </a>
  
    <a href="https://my-wikipedia-app.vercel.app/ " class="post">
        <span class="post-likes">My Wikipedia</span>     
      <figure class="post-image">
        <img src="https://images.unsplash.com/photo-1607746747627-8f2311dac2bf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1194" alt="Postcard">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://my-wikipedia-app.vercel.app/ " class="post-comments">To visit</a>
          </p>
          </span>
    </a>
  
    <a href="https://list-task-alpha.vercel.app/" class="post">
      <span class="post-likes">Do List</span>     
    <figure class="post-image">
      <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172" alt="Postcard">
    </figure>
    <span class="post-overlay">
      <p>
        <a href="https://list-task-alpha.vercel.app/" class="post-comments">To visit</a>
        </p>
        </span>
  </a>
  
  
  <a href="https://my-stopwatch.vercel.app/" class="post">
    <span class="post-likes">My Stopwatch</span>     
  <figure class="post-image">
    <img src="https://images.unsplash.com/photo-1506452819137-0422416856b8?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773" alt="Postcard">
  </figure>
  <span class="post-overlay">
    <p>
      <a href="https://my-stopwatch.vercel.app/" class="post-comments">To visit</a>
      </p>
      </span>
  </a>
  
  </div>
      
  
  
  <div class="post-list">
    <a href="https://mtm-advertising-agency.vercel.app/" class="post">
        <p class="post-likes">MTM Agency</p>
  
      <figure class="post-image">  
        <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Batatabit-Store">
      </figure>
      <span class="post-overlay">
        <p>
        <a href="https://mtm-advertising-agency.vercel.app/" class="post-comments">To visit</a>
        </p>
      </span>
    </a>
  
  
  
    <a href="https://my-votes-app.vercel.app/" class="post">
        <p class="post-likes">Votes App</p>      
  
      <figure class="post-image">
        <img src="https://media.istockphoto.com/photos/man-with-a-vote-badge-for-the-us-election-picture-id1279143318?k=20&m=1279143318&s=612x612&w=0&h=MOeHa6mUdJzwvhh_8GpBZjoYrs08-Iwhn6jzFDLe5UM=" alt="Tecnopolis-Store">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://my-votes-app.vercel.app/" class="post-comments">To visit</a>
          </p>
          </span>
    </a>
  
    <a href="https://calculator-app-beryl-ten.vercel.app/" class="post">
        <p class="post-likes">Calculator</p>      
  
      <figure class="post-image">      
        <img src="https://images.unsplash.com/photo-1554224155-8d04cb21cd6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="social-network">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://calculator-app-beryl-ten.vercel.app/" class="post-comments">To visit</a>
        </p>
        </span>
    </a>
  
    <a href="https://tecnopolis-store.vercel.app/" class="post">
        <span class="post-likes">Tecnopolis Store</span>     
      <figure class="post-image">
        <img src="https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Postcard">
      </figure>
      <span class="post-overlay">
        <p>
          <a href="https://tecnopolis-store.vercel.app/" class="post-comments">To visit</a>
          </p>
          </span>
    </a>
  
    <a href="https://github-user-finder-phi.vercel.app/" class="post">
      <span class="post-likes">Github Finder

      </span>     
    <figure class="post-image">
      <img src="https://images.unsplash.com/photo-1490127252417-7c393f993ee4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Postcard">
    </figure>
    <span class="post-overlay">
      <p>
        <a href="https://github-user-finder-phi.vercel.app/" class="post-comments">To visit</a>
        </p>
        </span>
  </a>
  
  
  <a href="https://postcard-five.vercel.app/" class="post">
    <span class="post-likes">My Postcard</span>     
  <figure class="post-image">
    <img src="https://images.unsplash.com/photo-1565893181327-cd3a5d5752b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1066&q=80" alt="Postcard">
  </figure>
  <span class="post-overlay">
    <p>
      <a href="https://postcard-five.vercel.app/" class="post-comments">To visit</a>
      </p>
      </span>
  </a>
  
  </div>
