<router-outlet></router-outlet>

<!--
 <nav class="nav">
    <div>
        <ol class="div-header--container">
            <li> 
                <a class="menu-items-1" [routerLink]="['/HeaderComponent']">Projects</a>
                <a class="menu-items-2" href="https://drive.google.com/file/d/1lwSi0va3v60jtUpok_uxzqOxBPwgDN16/view">Resume</a>  
            </li>
            <li> 
            </li>
        </ol>
    </div>
   </nav>       
    
  

-->

<!--DESCRIPCION

<img class="items-img" src="https://avatars.githubusercontent.com/u/69473930?s=400&u=76d2d1bf21035b54ff47118d26972a21da14d33f&v=4" alt="image-perfil">

<div class="container-body">
<div class="container-description">
    <h1 class="text-1">Hello!</h1>
    <p class="text-2">This is me being creative</p>
    <p class="text-3">My name is Fernando Ramos. I'm a frontend developer, passionate about technology.
        <br>
        <br>                        
        
        "When a dream appears, grab it!"</p>
</div>    
</div> 
<div class="container-contact">
<a class="button-github" href="https://github.com/FernandoRB">Github</a>
<a class="button-linkedin" href="https://www.linkedin.com/in/fernando-martin-ramos-bologna-96802121a/">Linkedin</a>

</div>


-->
